/* Color Scheme Variables */
* {
  transition: all 0.5s ease;
}
html {
  background: lightgrey;
  -webkit-font-smoothing: antialiased;
}
.top-navigation {
  background: white;
  border-bottom: 10px solid #CB4925;
}
.top-navigation a {
  color: #CB4925;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}
.top-navigation a:hover,
.top-navigation .active {
  color: #735046;
}
.top-navigation li {
  padding-top: 4rem;
}
.top-navigation .container ul {
  margin-bottom: -0.3rem;
}
.top-navigation li,
.social-links li {
  list-style: none;
  display: inline-block;
}
.intro-section .container {
  height: 46rem;
  position: relative;
  background: url('../images/drew-silhouette.png') no-repeat -27px bottom;
  background-size: contain;
  width: 1225px;
  max-width: 100%;
}
.intro-section .lead-in {
  border-top: 1px dashed #9EBAB2;
  text-align: right;
  padding: .5em;
}
.intro-section .lead-in h1 {
  font-family: 'Oswald', sans-serif;
  color: #9EBAB2;
}
.intro-section .lead-in h3 {
  font-family: 'Quattrocento', serif;
  color: #CB4925;
}
.main-section {
  background: url('../images/city-bg-lq.jpg') no-repeat fixed center;
  background-size: cover;
  border-top: 10px solid #CB4925;
  border-bottom: 10px solid #CB4925;
  padding: 0px;
  position: relative;
}
.portfolio-section {
  background: rgba(46, 61, 57, 0.8);
  padding-bottom: 4rem;
}
.portfolio-section .portfolio {
  width: 100%;
  padding: 3rem;
  margin: auto;
}
.portfolio-section .port-item {
  padding: 3rem;
  position: relative;
}
.portfolio-section .port-item figcaption {
  background: rgba(0, 0, 0, 0.8);
  height: 0rem;
  padding: 0;
  text-align: center;
  position: relative;
  bottom: 0;
  font-size: 0px;
  color: #F1FFFB;
  font-family: 'Oswald', sans-serif;
  border-top: 0.5em solid #CB4925;
  overflow: hidden;
}
.portfolio-section .port-item:hover figcaption {
  height: 10rem;
  margin-top: -10rem;
  padding: 2rem;
  font-size: 2rem;
}
.portfolio-section .port-item:focus {
  outline: none;
}
.info-section {
  background: rgba(115, 80, 70, 0.8);
  text-align: center;
  font-family: 'Quattrocento', serif;
  color: #F1FFFB;
}
.info-section .social-links {
  width: 100%;
  max-width: 50rem;
  margin: -3rem auto auto;
  text-align: center;
  padding: 0;
}
.info-section .social-links .fa {
  color: #F1FFFB;
  font-size: 3rem;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  background: #CB4925;
  padding: 1.4rem 0 0 0;
}
.info-section .social-links .fa:hover {
  background: #9EBAB2;
  color: #CB4925;
}
.info-section .social-links li {
  padding: 0 .5em;
}
.info-section .main-content {
  padding: 20em 0;
}
.info-section .info {
  color: #F1FFFB;
}
.info-section button {
  background-color: transparent;
  padding: 2rem 9rem 1rem 1rem;
  border: 1px solid #F1FFFB;
  color: #F1FFFB;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.info-section button:hover {
  border: 1px solid #CB4925;
  color: #CB4925;
}
.title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #CB4925;
}
.site-info {
  font-size: 1rem;
  font-family: 'Quattrocento', serif;
  letter-spacing: 1px;
  opacity: .5;
  color: white;
}
.modal-header {
  background: black;
}
.modal-header .close {
  color: white;
  margin-top: -11px;
  opacity: 1;
}
#triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #CB4925;
  border-bottom: 50px solid transparent;
  position: fixed;
  right: calc((100% - 1200px) / 2);
  top: 56px;
  transform: scale(0.2);
  display: block;
}
@media only screen and (min-width: 970px) {
  .top-navigation {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  .intro-section .container {
    margin-top: 6rem;
  }
  .intro-section .lead-in {
    position: absolute;
    top: 0;
    right: -7rem;
    width: 46rem;
    margin-top: calc(16.5rem);
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  #triangle-left {
    display: block;
  }
}
