/* Color Scheme Variables */

@my-darkgreen: #2E3D39;
@my-lightgreen: #F1FFFB;
@my-midgreen: #9EBAB2;
@my-redorange: #CB4925;
@my-brown: #735046;
@my-fontfamily-1: 'Oswald', sans-serif;
@my-fontfamily-2: 'Quattrocento', serif;


* {
	border: 1px solid green;
}

html {
	background: lightgrey;
}

.top-navigation {
	background: white;
	border-bottom: 10px solid @my-redorange;

	a {
		color: @my-redorange;
		font-family: @my-fontfamily-1;
		font-size: 2rem;
	}

	a:hover, .active {
		color: @my-brown;
	}

	.container ul {
		margin-bottom: -0.6rem;
	}
}

.top-navigation li, .social-links li {
	list-style: none;
	display: inline-block;
}

.intro-section {
	background: url('../images/drew-silhouette.png') no-repeat bottom left;
	background-size: contain;
	
	.container {
		height: 45rem;
		position: relative;
	}

	.lead-in {
		h1 {
			font-family: @my-fontfamily-1;
			color: @my-midgreen;
		}
		h3 {
			font-family: @my-fontfamily-2;
			color: @my-redorange;
		}
		border-top: 1px dashed;
		text-align: right;
		position: absolute;
		top: 0;
		right: -7rem;
		width: 45rem;
		margin-top: calc(33rem / 2);
	}
}

.main-section {
	background: url('../images/city-bg.jpg') no-repeat;
	background-size: cover;
}

.portfolio-section {
	background: rgba(46,61,57,0.8);
	padding-bottom: 4rem;

	.portfolio {
		width: 100%;
		padding: 3rem;
		display: flex;
		margin: auto;
	}

	.port-item {
		flex-grow: 1;
		height: 15rem;
		background: white;
		margin: 0 3rem;
	}
}

.info-section {
	background: rgba(115, 80, 70, 0.8);

	.social-links {
		width: 100%;
		max-width: 50rem;
		margin: -4rem auto auto;
		text-align: center;
		padding: 0;

		.fa {
			color: @my-lightgreen;
			font-size: 3rem;
			border-color: @my-lightgreen;
			border-radius: 100%;
			height: 6rem;
			width: 6rem;
			background: @my-redorange;
			padding: 1.4rem 0 0 0.1rem;
		}

		.fa:hover {
			background: @my-midgreen;
			border-color: @my-redorange;
			color: @my-redorange;
		}
	}
}

.title {
	text-align: center;
	font-family: @my-fontfamily-1;
	color: @my-redorange;
}


.rotate90 {

transform: rotate(90deg);

/* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
