/* Color Scheme Variables */
* {
  border: 1px solid green;
}
html {
  background: lightgrey;
}
.top-navigation {
  background: white;
  border-bottom: 10px solid #CB4925;
}
.top-navigation a {
  color: #CB4925;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}
.top-navigation a:hover,
.top-navigation .active {
  color: #735046;
}
.top-navigation .container ul {
  margin-bottom: -0.6rem;
}
.top-navigation li,
.social-links li {
  list-style: none;
  display: inline-block;
}
.intro-section {
  background: url('../images/drew-silhouette.png') no-repeat bottom left;
  background-size: contain;
}
.intro-section .container {
  height: 45rem;
  position: relative;
}
.intro-section .lead-in {
  border-top: 1px dashed;
  text-align: right;
  position: absolute;
  top: 0;
  right: -7rem;
  width: 45rem;
  margin-top: calc(16.5rem);
}
.intro-section .lead-in h1 {
  font-family: 'Oswald', sans-serif;
  color: #9EBAB2;
}
.intro-section .lead-in h3 {
  font-family: 'Quattrocento', serif;
  color: #CB4925;
}
.main-section {
  background: url('../images/city-bg.jpg') no-repeat;
  background-size: cover;
}
.portfolio-section {
  background: rgba(46, 61, 57, 0.8);
  padding-bottom: 4rem;
}
.portfolio-section .portfolio {
  width: 100%;
  padding: 3rem;
  display: flex;
  margin: auto;
}
.portfolio-section .port-item {
  flex-grow: 1;
  height: 15rem;
  background: white;
  margin: 0 3rem;
}
.info-section {
  background: rgba(115, 80, 70, 0.8);
}
.info-section .social-links {
  width: 100%;
  max-width: 50rem;
  margin: -4rem auto auto;
  text-align: center;
  padding: 0;
}
.info-section .social-links .fa {
  color: #F1FFFB;
  font-size: 3rem;
  border-color: #F1FFFB;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  background: #CB4925;
  padding: 1.4rem 0 0 0.1rem;
}
.info-section .social-links .fa:hover {
  background: #9EBAB2;
  border-color: #CB4925;
  color: #CB4925;
}
.title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #CB4925;
}
.rotate90 {
  transform: rotate(90deg);
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
