/* Color Scheme Variables */

@my-darkgreen: #2E3D39;
@my-lightgreen: #F1FFFB;
@my-midgreen: #9EBAB2;
@my-redorange: #CB4925;
@my-brown: #735046;
@my-fontfamily-1: 'Oswald', sans-serif;
@my-fontfamily-2: 'Quattrocento', serif;


* {
	border: 1px solid green;
}

html {
	background: lightgrey;
}

.top-navigation {
	background: white;
	border-bottom: 10px solid @my-redorange;

	a {
		color: @my-brown;
		font-family: @my-fontfamily-1;
	}

	a:hover, a .active {
		color: @my-redorange;
	}
}

.top-navigation li, .social-links li {
	list-style: none;
	display: inline-block;
}

.intro-section {
	background: url('images/drew-silhouette.png') no-repeat bottom middle;
	background-size: contain;
}

